node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
coverage
tests
dist
.eslintrc*
eslint.config.*
jest.config.*
*.log
docs
scripts
.vscode
**/*.test.*
**/*.spec.*


